
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Image</title>
</head>
<body>

<div align="center">
    <h1>Upload Form Sketch to Generate<br> Your Own Web Forms</h1>
<div style="align:center; border: solid 4px black; padding: 30px; width:515px;">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
</div>

    <div style="width:555px; border: solid 4px black; height:500px; margin-top:20px; padding:10px;">
        {% load static %} <img src="{% static 'main/media/upload_alert.jpg' %}" alt="home" />
    </div>

    <div style="width:560px; border: solid 4px black; height:20px; margin-top:20px; padding:10px;">
        <b>*The sketches you upload will be created in their actual size and position!</b>
    </div>

</div>
</body>
</html>